Package: veilid-cli
Version: $CARGO_VERSION
Section: network
Priority: optional
Architecture: $ARCH
Depends: libc6 (>= 2.23)
Maintainer: jsmith@veilid.org
Description: Veilid Server Command Line Interface
  This package installs a a CLI interface for locally installed Veilid peer-to-peer network headless nodes.
